body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 100px;

}

.sjakkbrett {
    margin: auto;
    width: 648px;
    height: 648px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: black solid 1px;
    margin-right: 300px;

}

.abcd {
    margin: auto;
    width: 648px;
    height: 75px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    border: black solid 1px;
    margin-right: 1;
}

.svart {
    background-color: rgb(94, 171, 94);

}

.rute {
    width: 81px;
    height: 81px;
    display: flex;
    align-items: center;
}

i {
    font-size: 65px;
    text-align: center;

}

.a {

    display: flex;
    justify-content: center;
    align-items: center;

}

.storboks {
    display: flex;
}

.o123 {

    margin: auto;
    width: 75px;
    height: 648px;
    display: grid;
    grid-template-rows: 1fr;
    border: black solid 1px;
    margin-left: 223px;

}