body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    flex-direction: ;

}

.sjakkbrett {
    margin: auto;
    width: 648px;
    height: 648px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: black solid 1px;
    
}

.abcd {
    margin: auto;
    width: 648px;
    height: 75px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    border: black solid 1px;
}

.svart {
    background-color: rgb(94, 171, 94);

}

.rute {
    width: 81px;
    height: 81px;
    display: flex;
    align-items: center;
}

i {
    font-size: 65px;
    text-align: center;
}

.hvit {
    color: #000000;


}

i:hover {
    opacity: 0.8;
    transform: scale(1.08);

}